.wrapper {
  display: flex;
  min-height: calc(100vh - 57px);
  align-items: stretch;
  padding-left: 240px;
}

@media (max-width: 768px) {
  .wrapper {
    padding-left: 0;
    padding-bottom: 64px;
  }
}

.content {
  flex: 1;
  overflow: auto;
  background: var(--bg);
}
